/* General */
html { font-family: 'Abel', sans-serif; }
body { font-family: 'Abel', sans-serif; }

.full-container {
	display: flex;
	min-height: 100vh;
}

.container {
	padding-left: calc(240px + 2em);
	min-height: 100vh;
}

.border-box { box-sizing: border-box; }
.clickable { cursor: pointer; }

/* flexbox */
.flex { display: flex; }
.flex1 { flex: 1; }
.flex05 { flex: 0.5; }
.column { flex-direction: column; }

.align-self-flex-end { align-self: flex-end; }
.align-items-center { align-items: center; }
.align-items-flex-end { align-items: flex-end; }

.justify-content-center { justify-content: center; }
.justify-content-flex-end { justify-content: flex-end; }
.justify-content-space-between { justify-content: space-between; }
.justify-content-space-around { justify-content: space-around; }

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.width60 { width: 60%; }
.width60-padded { width: calc(60% + 48px); }
.full-width { width: 100%; }
.full-height { height: 100%; }

/* margins */
.no-margin { margin: 0; }
.reversed-margin-top { margin-top: -1em; }

.small-margin-vertical { margin: 1em 0; }
.small-margin-left { margin-left: 0.5em; }
.margin-right { margin-right: 1em; }
.margin-bottom { margin-bottom: 1em; }
.big-margin-bottom { margin-bottom: 2em; }
.big-margin-right { margin-right: 2em; }

.margin-auto { margin: auto; }

/* paddings */
.no-padding { padding: 0 !important; }
.no-padding-vertical { 
	padding-top: 0 !important; 
	padding-bottom: 0 !important;
}

.padding-right { padding-right: 1em; }
.big-padding-left { padding-left: 2em; }
.big-padding-bottom { padding-bottom: 2em; }
.huge-padding-top { padding-top: 4em; }
.huge-padding-bottom { padding-bottom: 4em; }

.padding-horizontal { padding: 0 2em; }
.big-padding-horizontal { padding: 0 4em; }
.padding-vertical { padding: 2em 0; }
.big-padding-vertical { padding: 4em 0; }
.padded { padding: 2em; }

/* colors */
.white-text { color: white; }

.black-bg { background: #000; }
.transparent-bg { background: transparent !important; }

/* Texts */
.body-text { font-size: 24px; }
.big-text { font-size: 30px; }
.huge-text { font-size: 48px; }

.text-center { text-align: center; }

/*.bubble-text { margin-left: -50px; }*/

/* sideNav*/
.sidenav-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.sidenav---sidenav---_2tBP {
	height: 100vh;
	background-color: #000 !important;
	padding-top: 50px;
}
.sidenav---highlighted---oUx9u {
	background-color: #EF2626 !important;
}
.sidenav---navicon---3gCRo {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.sidenav---navtext---1AE_f { color: #fff !important; }
.sidenav---sidenav-navitem---uwIJ- { position: static !important; }
.sidenav-last-item {    
	position: absolute !important;
    bottom: 0;
    width: 100%;
    background-color: #EF2626;
}

/* Input */
.input-field { 
	padding: 12px 24px;
	font-size: 1.5em;
	outline: none;
	border: none;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
}
.input-field.rounded { border-radius: 50px; }
.input-field::placeholder { color: #7C7C7C; }
.input-field.black-bg {
	background: rgba(255, 255, 255, 0.5);
	color: white;
}
.input-field.black-bg::placeholder { color: rgba(255, 255, 255, 0.5); }

/* Cards */
.simple-card {
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: fit-content;
}
.hero-card { 
	max-width: 200px; 
	min-height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-card:hover { opacity: 0.7 }

/* Buttons */
.pill-btn {
	outline: none;
	background: #EF2626;
	border: none;
	border-radius: 50px 0px 0px 50px;
	color: white;
	font-family: inherit;
	padding: 12px;
	padding-left: 30px;
	cursor: pointer;
}
.pill-btn.left {
	border-radius: 0px 50px 50px 0px;
	padding: 12px;
	padding-right: 30px;
}
.pill-btn:hover { background: #EF2626DD }
.pill-btn:disabled { 
	background: #EF262688; 
	cursor: default;
}

/* Chips */
.chips-container {
    display: flex;
    position: relative;
    min-height: 24px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.5);
    padding: 12px 24px;
}
.suggestions-list {
    position: absolute;
    border: 1px solid #ccc;
    z-index: 10;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 24vh;
    overflow: auto;
    font-size: 20px;
}
.suggestion {
	padding: 16px 16px;
}
.suggestion-highlighted {
	background: #ddd;
}
.chip {
    margin: 5px 18px 5px -12px;
    padding: 8px 16px;
    background: #EF2626;
    font-size: 1.5em;
    color: #fff;
    border-radius: 5px;
    cursor: default;
}
.chip-selected {
	background: #EF262688;
}
.chip-remove {
	cursor: pointer;
}

/* RadioTabs */
.radio-tabs {
	color: white;
	background: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
}
.radio-tabs > label:before { color: #EF2626 !important; }

/*ColorSquares*/
.color-square {
	width: 45px;
	height: 45px;
	border-radius: 10px;
	margin: 0 0.5em;
	border: 2px solid #fff;
}
.color-square.selected { border-color: rgba(255, 255, 255, 0.2) }
.add-color-square {
	border: none;
	width: 49px;
	height: 49px;
	background: rgba(255, 255, 255, 0.5);
}