/* General */
html { font-family: 'Abel', sans-serif; }
body { font-family: 'Abel', sans-serif; }

.full-container {
	display: flex;
	min-height: 100vh;
}

.container {
	padding: 2em;
	padding-left: calc(240px + 2em);
}

.width60 { width: 60% }

/* flexbox */
.flex { display: flex; }
.flex1 { flex: 1; }
.flex05 { flex: 0.5; }
.column { flex-direction: column; }

.align-items-center { align-items: center; }

.justify-content-center { justify-content: center; }
.justify-content-flex-end { justify-content: flex-end; }

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}

.full-width { width: 100%; }

/* margins */

.reversed-margin-top { margin-top: -1em; }
.margin-bottom { margin-bottom: 1em; }
.big-margin-bottom { margin-bottom: 2em; }

.margin-auto { margin: auto; }

/* paddings */

.padding-right { padding-right: 1em; }
.big-padding-left { padding-left: 2em; }
.big-padding-bottom { padding-bottom: 2em; }

.padding-horizontal { padding: 0 2em; }
.padded { padding: 2em; }

/* colors */
.white-text { color: white; }

.black-bg { background: #000; }

/* Texts */
.body-text { font-size: 24px; }
.big-text { font-size: 30px; }

/*.bubble-text { margin-left: -50px; }*/

/* sideNav*/
.sidenav---sidenav---_2tBP {
	background-color: #000 !important;
	padding-top: 50px;
}
.sidenav---highlighted---oUx9u {
	background-color: #EF2626 !important;
}
.sidenav---navicon---3gCRo {
	display: flex !important;
	align-items: center;
	justify-content: center;
}
.sidenav---navtext---1AE_f { color: #fff !important; }
.sidenav---sidenav-navitem---uwIJ- { position: static !important; }
.sidenav-last-item {    
	position: absolute !important;
    bottom: 0;
    width: 100%;
    background-color: #EF2626;
}

/* Input */
.input-field { 
	padding: 12px 24px;
	font-size: 1.5em;
	outline: none;
	border: none;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
}
.input-field.rounded { border-radius: 50px; }
.input-field::placeholder { color: #7C7C7C; }
.input-field.black-bg {
	background: rgba(255, 255, 255, 0.5);
	color: white;
}
.input-field.black-bg::placeholder { color: rgba(255, 255, 255, 0.5); }

/* Cards */
.simple-card {
	padding: 1em;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	width: fit-content;
}

/* Buttons */
.pill-btn {
	outline: none;
	background: #EF2626;
	border: none;
	border-radius: 50px 0px 0px 50px;
	color: white;
	font-family: inherit;
	padding: 12px;
	padding-left: 30px;
	cursor: pointer;
}
.pill-btn.left {
	border-radius: 0px 50px 50px 0px;
	padding: 12px;
	padding-right: 30px;
}
.pill-btn:hover { background: #EF2626DD }
.pill-btn:disabled { 
	background: #EF262688; 
	cursor: default;
}
